h1 {
  border: 10px solid yellow;
  border-radius: 10px;
  color: brown;
  box-shadow: -0.5rem 0.5rem;
}

p {
  color: red;
}

.text-green {
  color: green;
}

.bg-blue {
  background-color: blue;
}

#heading-utama {
  color: greenyellow;
}

a [href] {
  color: yellow;
}
